# desenvolvimento | producao
AMBIENTE_PROCESSO=""

# Configurações de conexão com o banco de dados
DB_HOST=localhost
DB_DATABASE='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'
# 3306 - MySQL Local | 3307 - MySQL | VM Lubuntu
DB_PORT=3306

# Configurações do servidor de aplicação
APP_PORT=3333
APP_HOST=localhost