#dev-screen.open{ display: flex; }
#dev-screen.closed{ display: none; }
#dev-screen {
    position: absolute;
    top: 0;
    right: 0;
    
    padding: 1rem 0.5rem;
    background-color: var(--background);
    border-left: 2px solid var(--primary);

    max-width: 360px;
    width: fit-content;
    height: 100vh;
    z-index: 999 !important;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}