/* === OVERLAYS & PANELS === */
.overlay.closed { display: none; pointer-events: none; }
.overlay.open { display: grid; cursor: pointer; }
.overlay {
    position: absolute;
    inset: 0;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999 !important;
}
.overlay * {
    cursor: default;
}

.panel {
    position: relative;
    background-color: var(--popover);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border: 2px solid var(--primary);
    border-radius: 1rem;

    height: 600px;
    min-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 2rem;
}

.panel-title {
    position: absolute;
    top: -10%;

    width: 100%;

    font-family: "Jurassic Park", sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-align: center;
}

/* === PAINEL VISÃO GERAL === */
#general-panel {
    background-image: url("../assets/images/visitor-center-inside.png");
}

/* === PAINEL CONSTRUÇÕES === */
#buildings-panel {
    background-image: url("../assets/images/entrance-background.png");
}

/* === PAINEL ENTRADA === */
#entrance-panel {
    background-image: url("../assets/images/entrance-background.png");
    display: grid;
    place-content: center;
}

#park-name-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-weight: bold;
}

/* === PAINEL INCUBADORA === */
#hatchery-panel {
    background-image: url("../assets/images/hatchery-inside.png");
}

/* === PAINEL CERCADO === */
#enclosure-panel {
    background-image: url("../assets/images/enclosure-background.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
#enclosure-panel.broken {
    background-image: url("../assets/images/enclosure-broken-background.png");
}

#enclosure-panel .enclosure-dinosaur {
    
}


/* === PAINEL SELEÇÃO DE TILES === */
#tile-switcher {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background);
    border: 1px solid var(--primary);
    padding: 1rem;
    width: 100px;
    height: 50px;
}